/* Version Mobile */
@font-face {
    font-family: Barbra;
    src: url(../Fonts/Barbra-High.otf) format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: CHAVTER;
    src: url(../Fonts/CHAVTER.ttf);
}
/* *{
    border: solid 2px #ff0000;
} */

.titulo-pagina {
    font-family: Barbra;
    font-style: normal;
    font-size: 190%;
}
.color-verde{
    color: #acb884;
}
.color-naranja{
    color: #dfa36d;
}
.color-celeste{
    color: #b9cdd1;
}
.color-beije{
    color:#f2ebd7;
}

h2{
    font-family: CHAVTER;
    font-optical-sizing: auto;
    font-size: 25px;
    margin-left: 30px;
}
.texto-base{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h3{
    font-weight: 600;
    font-size: 11px;
}
h4{
    font-weight: 500;
    font-size: 9px;
}
p{
    font-weight: 400;
    font-size: 11px;
}
h6{
    font-weight: 600;
    font-size: 6.8px;
}

.etiqueta{
    border-radius: 50px;
    padding: 20px;
    width: max-content;
}
.eti-blanca{
    background-color:#f2ebd7;
}
.eti-amarilla{
    background-color:#ffd07b;
}
.eti-naranja{
    background-color: #dfa36d;
}
.eti-celeste{
    background-color:#b9cdd1;
}
.eti-verde{
    background-color: #acb884;
}

/* INDEX */
.grid-index{
    display: grid;
    grid-template-areas: 
    "header header"
    "imagen texto" /*imagenes - text-overlay */ /*educacion*/ 
    "scroll scroll" /*scroll*/ /*experiencia de trabajo */
    "perfil perfil" /*perfil-contenedor */ /*experiencia de trabajo */
    "contacto contacto" /* imagen-contenedor */ /* skill idioma interes */
    "footer footer";
    background-color: #ffd07b;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    height: 60px;  
    align-items: flex-end;
}
.header div{
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
.header div img{
    width: auto;
    height: 13px;
}
.header div h2{
    font-size: 10px;
    margin-left: 2px;
}
.nav{
    padding-right: 15px;
}
.nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav ul li a{
    font-weight: 700;
    font-size: 7px;
    padding: 4px;
    text-decoration: none;
    color: #000000;
}
#imagenes{
    grid-area: imagen;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 70vw;
}
.grafico{
    display: none;
    color: #ffffff;
}
.emilia{
    overflow: hidden;
    height: 600px;
    object-fit: cover;
    object-position: 45% 100%;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    transform: translateX(10%); 
}
#imagenes-extras{
    position: absolute;
}
.circulo-gusano{
    position: relative;
    height: auto;
    width: 150px;
    bottom: -65vh;
    transform: translateX(-70%);
    overflow: hidden;
}
.mancha{
    position: relative;
    width: auto;
    height: 65px;
    left: 40vw;
    bottom: -65vh;
    z-index: 2;
}
#presentacion{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 1;
    width: 25vw;
    transform: translateX(-60%);
}
.text-overlay{
    transform: translateX(-20%);
}
.estrella-circulo{
    width: auto;
    height: 50px;
    margin-left: 65px;
}
.redeSociales{
    height: auto;
    width: max-content;
    background-color: #f2ebd7;
    padding: 10px 15px 10px 15px;
    transform: translateY(40%);
}
.redeSociales p{
    line-height: 140%;
}
#scroll{
    grid-area: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;    
    justify-items: center;
    background-color: #acb884;
    height: 80px;
}
#scroll img{
    width: 60px;
    height: 60px;
    align-self: center;
}
#scroll h3{
    color: #f2ebd7;
}

.perfil-contenedor {
    background-color:#f2ebd7;
    grid-area: perfil;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.perfil-contenedor img{
    width: auto;
    height: 100px;
    padding-bottom: 15px;
}
.perfil-contenedor p{
    max-width: 70vw;
    color: #000000;
    text-align: center;
}
.imagen-contenedor {
    grid-area: contacto;
    background-color:#f2ebd7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-contenedor img{
    width: 300px;
}
#uno{
    color: #ffffff;
    position: absolute;
    transform: translate(10%, -700%);
}
#dos{
    color: #ffffff;
    position: absolute;
    transform: translate(-145%, -300%);
}
#info-contacto{
    background-color: #ffd07b;
    width: max-content;
    height: max-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    padding: 10px 20px 10px 20px;
}
#info-contacto p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
#info-contacto span {
    margin-right: 5px;
}
.footer-index{
    grid-area: footer;
    background-color: #f2ebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.footer-index a{
    text-decoration: none;
}
.footer-index a img{
    width: 35px;
}
/* fin INDEX */

/* RESUME */
.grid-resume{
    display: grid;
    grid-template-areas: 
    "header"
    "resume"
    "educacion"
    "experiencia"
    "skills"
    "idiomas"
    "interes"
    "footer";
    background-color: #f2ebd7;
}
.resume{
    grid-area: resume;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#verde-resume{
    margin-bottom: 10px;
    transform: translateX(-50%);
}
#naranja-resume{
    margin-bottom: 10px;
}
#celeste-resume{
    align-items: flex-end;
    transform: translateX(50%);
}
.educacion{
    grid-area: educacion;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.educacion-container{
    display: flex;
}
#timeline{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    padding: 5px 5px 5px 30px;
}
#timeline-titulo{
    margin-right: 8px;
}
.timeline-dot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.timeline-dot hr{
    height: 1px;
    width: 62px;
    margin-left: 5px;
    background-color: #acb884;
    border: none;
}
.timeline-dot img{
    width: 15px;
}
.experiencia{
    grid-area: experiencia;
    background-color: #acb884;
    margin: 0px 35px 0px 35px;
    padding: 20px;
    height: max-content;
    transform: translatey(10%);
}
.experiencia h2{
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.estrella-amarilla-exp{
    position: absolute;
    width: 50px;
    transform: translateY(-200%);
    margin-left: -40px;
}
#timeline-experiencia{
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(4,max-content);
    margin-bottom: 20px;
}
.timeline-item-exp{
    display: grid;
    grid-template-columns: 30px 20px auto;
} 
.timeline-dot-exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.timeline-dot-exp img{
    width: 15px;
    margin-bottom: 5px;
}
.timeline-dot-exp hr{
    height: 25px;
    padding-top: 20px;
    margin-bottom: 5px;
    width: 1px;
    background-color: #f2ebd7;
    border: none;
}
.year{
    color: #f2ebd7;
}
.orden-etiquetas{
    display: flex;
    justify-content: space-around;
}

.orden-etiquetas h6{
    color: #919b68;
}
#fondo-azul{
    background-color: #b9cdd1;
}
#skills{
    grid-area: skills;
    padding-top: 60px;
}
#habilidades{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
#habilidades div h3{
    color: #ffffff;
    margin-bottom: 10px;
}
#software{
    max-width: 40vw;
    margin-left: 20px;
}

#etiquetas-amarillas{
    display: flex;
    justify-content: center; 
    margin-left: 5px;
    margin-top: 10px;
}

#idiomas{
    grid-area: idiomas;
    padding-top: 30px;
}
#idiomas h3{
    color: #ffffff;
}
#orden-idiomas{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
#orden-idiomas div img{
    width: 60px;
    margin-top: 10px;
}

#intereses{
    grid-area: interes;
    padding-top: 30px;
    padding-bottom: 30px;
}
#orden-iconos{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 8px;
}
.iconos img{
    width: 35px;
}
.iconos h4{
    text-align: center;
    margin-top: 3px;
}

.footer-resume{
    grid-area: footer;
    background-color: #b9cdd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.footer-resume a{
    text-decoration: none;
}
.footer-resume a img{
    width: 35px;
}
/* fin RESUME */

/* TRABAJOS */
.grid-trabajos{
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "trabajos"
    "footer";
    background-color: #f2ebd7;
}
.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titulo h1{
    margin-left: 10px;
    margin-right: 10px;
}
.titulo img{
    margin-bottom: 8px;
}
#boton-contacto{
    background-color: #acb884;
}
#trabajos{
    grid-area: trabajos;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    margin-top: 30px;
    background-color: #acb884;
}
.imagen-trabajo{
    height: 300px;
    width: 80vw;
    object-fit: cover;
    border-radius: 10px;
    transform: translateY(-10%);
    margin-bottom: 30px;
    display: block;
    box-shadow: 5px 8px 10px 0 #919b68; /* Sombra abajo de la imagen */
}
.link-behance{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.link-behance a{
    text-decoration: none;
}
.link-behance a h3{
    transform: translateY(180%);
    color: #000000;
    text-align: right;
    margin-right: 55px;
}
.link-behance img{
    height: auto;
    width: 200px;
}
#footer-trabajos{
    grid-area: footer;
    background-color: #acb884;
}
/* fin TRABAJOS */
/* FIN Version Mobile */

/* Version Desktop */
@media screen and (min-width: 1200px){
    .titulo-pagina {
        font-size: 800%;
    }
    .grid-index{
        display: grid;
        grid-template-areas:
        "header header"
        "emilia portfolio"
        "scroll scroll"
        "perfil contacto"
        "footer footer";
        grid-template-columns: repeat(2,1fr);
    }
    .header{
        margin-left: 75px;
        margin-right: 75px;
    }
    .header div img{
        width: auto;
        height: 20px;
    }
    .header div h2{
        font-size: 15px;
        margin-left: 5px;
    }
    .nav ul li a{
        font-weight: 600;
        font-size: 10px;
        padding: 10px;
        margin-left: 30px;
    }
    #imagenes{
        grid-area: emilia;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        grid-column: auto;
        align-items: flex-start;
    }
    .emilia{
        height: 100vh;
        width: 550px;
        border-top-right-radius: 300px;
        border-top-left-radius: 300px;
        align-self: flex-end; 
    }
    #presentacion{
        grid-area: portfolio;
        width: max-content;
        transform: translateX(0%);
    }
    .text-overlay{
        transform: translateX(0%);
        margin-top:50px;  
        transform: translateY(30%);      
    }
    #portUno{
        transform: translateY(-30%);
    }
    #portDos{
        transform: translateY(-60%);
    }
    .estrella-circulo{
        transform: translateY(250%);
        margin-left: -230px;
    }
    .redeSociales{
        align-self: flex-end;
        padding: 30px 30px 30px 50px;
        transform: translateY(0%);
    }
    #imagenes-extras{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grafico{
        display: flex;
        justify-content: flex-start;
        margin-left: -150px;
        border-bottom: solid 3px #f2ebd7 ;
        padding-bottom: 10px;
    }
    .circulo-gusano{
        width: 190px;
        margin-bottom: 200px;
        transform: translateX(-40%);
    }
    .mancha{
        width: auto;
        height: 125px;
        left: 70vw;
        bottom: -50vh;
        z-index: 2;
    }
    #scroll{
        grid-area: scroll;
        height: 250px;
    }
    #scroll img{
        width: auto;
        height: 90px;
    }
    .perfil-contenedor{
        grid-area: perfil;
        padding-top: 100px;
        padding-left: 190px;
        padding-bottom: 100px;
        align-items: flex-start;
    }
    .perfil-contenedor img{
        height: 200px;
        padding-bottom: 15px;
        margin-left: 150px;
    }
    .perfil-contenedor p{
        text-align: left;
        margin-left: 150px;
    }
    .imagen-contenedor{
        grid-area: contacto;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 50px;
        padding-bottom: 80px;
    }
    .imagen-contenedor img{
        width: 450px;
        margin-top: 50px;
    }
    #uno{
        transform: translate(110%, -600%);
    }
    #dos{
        transform: translate(0%, -200%);
    }
    #info-contacto{
        border-radius: 10px;
        margin-left: 10%;
    }
    #info-contacto p {
        font-size: 16px;
    }
    h3{
        font-weight: 500;
        font-size: 18px;
    }
    h4{
        font-weight: 400;
        font-size: 15px;
    }
    p{
        font-weight: 400;
        font-size: 20px;
    }
    h6{
        font-weight: 600;
        font-size: 10px;
    }
    .iconoSocial{
        padding: 10px;
    }
}

/* fin version Desktop */

/* Version Tablet */
@media screen and (min-width: 600px){

}

/* fin version Desktop */

/* version DESKTOP DE LA LINEA DE TIEMPO
.timeline{
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(4,1fr);
}
.timeline-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */